@page
@model LoginModel

@{
    Layout = "";
    ViewData["Title"] = "Iniciar Sessão";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EPSMGest</title>
    <link rel="stylesheet" href="~/css/adminlte.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <b>EPSM</b>Gest
            </div>
            <div class="card-body">
                <form id="account" method="post">
                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" asp-for="Input.RememberMe" />
                                <label asp-for="Input.RememberMe">
                                    Lembrar-me
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </div>
                    </div>
                </form>

                <p class="mb-1">
                    <a asp-page="./ForgotPassword">Esqueceu-se da password?</a>
                </p>
                <p class="mb-0">
                    <a asp-page="./ResendEmailConfirmation" class="text-center">Renviar confirmação de email</a>
                </p>
            </div>
        </div>
    </div>
    <script src="~/js/adminlte.min.js"></script>
    <partial name="../../../../Views/Shared/_Toastr" />
    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>

