@model EpsmGest.ViewModel.Users.EditUserPasswordViewModel
@{
    ViewData["Title"] = "Alterar Password";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Gestão de Utilizadores</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">Utilizadores</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <partial name="../Shared/_AdminNav" />
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form asp-controller="Utilizadores" asp-action="AlterarPassword" asp-route-id="@ViewBag.Id" method="post">
                            <div class="container-md">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label asp-for="Password" class="control-label">Nova password</label>
                                        <input asp-for="Password" class="form-control" required="required" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword" class="control-label">Confirme nova password</label>
                                        <input asp-for="ConfirmPassword" class="form-control" required="required" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mt-2" style="text-align:right;">
                                    <a asp-action="Detalhes" asp-route-id="@ViewBag.Id" class="btn btn-secondary">Voltar</a>
                                    <input type="submit" class="btn btn-danger ml-2" value="Alterar Password">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}