@model EpsmGest.ViewModel.EditUserPasswordViewModel
@{
    ViewData["Title"] = "Alterar Password";
}

<div class="p-1 p-md-3 p-lg-4">
    <div class="card">
        <h5 class="card-header" style="background-color:rgb(35, 141, 15);color:white;">ALTERAR PASSWORD</h5>
        <div class="card-body">
            <form asp-controller="Utilizadores" asp-action="AlterarPassword" asp-route-id="@ViewBag.Id" method="post">
                <div class="container-md">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Nova password</label>
                            <input asp-for="Password" class="form-control" required="required" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label">Confirme nova password</label>
                            <input asp-for="ConfirmPassword" class="form-control" required="required" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mt-2" style="text-align:right;">
                        <a asp-action="Detalhes" asp-route-id="@ViewBag.Id" class="btn btn-secondary">Voltar</a>
                        <input type="submit" class="btn btn-danger ml-2" value="Alterar Password">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}