#containerMain {
    text-align: center;
    width: 1400px;
    height: 1700px;
    min-width: 1400px;
    box-shadow: 2px 2px 20px rgba(50, 50, 50, 0.77);
    border-radius:30px;
    padding-bottom:65px;
    position:relative;
}
#containerMain2 {
    overflow-y: clip;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 20px rgba(50, 50, 50, 0.77);
    border-radius: 30px;
    padding-bottom: 65px;
    position: relative;
}

h1{
font-family:"Cambria";

}


#rowCabecalho{
    height: 110px;    
    background-size: 100%;
    border-color: rgb(35, 141, 15) !important;
    border-radius: 25px 25px 0px 0px;
	
}
#sairvoltar{
    color: white;
    margin-top: 30px;
    transition: color .10s ease-in-out,background-color .10s ease-in-out,
    border-color .10s ease-in-out,box-shadow .10s ease-in-out;
}
#sairvoltar:hover{
    color: rgba(0, 63, 0, 0.541);
    cursor: pointer;
}

#tituloSeccao{
      color: grey;
    font-family: Verdana, sans-serif;
	font-size:20px;
	
}
#iconmenu{
color:white;
}
        #buttons3:hover{
            opacity: 0.8;
              
        }
        #buttons3{
            background-color: white;
            border: solid 2px rgb(35, 141, 15);
          	box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.77);
              color:rgb(35, 141, 15) !important;
              width: 170px;
        }
        #buttons{
            
            background-color: rgb(35, 141, 15);
          	box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.77);
        }
        #buttons:hover{
            background-color: rgb(32, 128, 13);          
        }
		
		  #buttons_red{
          	box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.77);
        }
#colunasmenu{
    height: 120px;
}
#newSearchPlace{
	text-align:right;
	margin-right:25px;
}
			#buttons2{
            color: white;
                transition: color .10s ease-in-out,background-color .10s ease-in-out,
                border-color .10s ease-in-out,box-shadow .10s ease-in-out;
            }
            #buttons2:hover{
                color: rgb(32, 128, 13) !important;
                cursor: pointer !important;
            }



        .tituloinputs{
            float: left;
        }
		.tituloinputs2{
            float: right;	
        	font-size:12px;
        	color:grey;
       		margin-top: 7px;
        }
.modal-backdrop {
    background-color: #000 !important;
	opacity:0.5 !important;
}
.w-300 {
    width: 300%!important;
}
.page-item.active .page-link {
    z-index: 3 !important;
    color: #fff !important;
    background-color: #238D0F !important;
    border-color: #238D0F !important;
}

.page-link {
    color:#238D0F !important;

}

.page-link:hover {
	    color:#238D0F !important;

}

.light:hover{
	opacity:0.8;
	
}
.light{
background-color:white;
width:111%;
height:100%;
float:left;
margin-left:-6%;
border-radius:20px;
display:block;
opacity:0;
transition:0.5s;

}
.light2{
background-color:green;
width:350px;
height:258px;
float:left;
margin-left:-6%;
border-radius:20px;
display:block;
opacity:0;
transition:0.5s;

}
#colunasmenu:hover{
	opacity:0.8;
}
#inserir{
    width: 200px;
    height: 43px;
    margin-top: 13%;
    border-radius: 20px;
    opacity: 1;
   	background-color:green;
	border:1px solid white;
	color:white!important;
}
#ver{
    width: 200px;
    height: 43px;
    margin-top: 13%;
    border-radius: 20px;
    opacity: 1;
   	background-color:green;
	border:1px solid white;
	color:white!important;

}
.botoes{
height: 100%;
}
#inserir:hover, #ver:hover{
	border:1px solid green;
	box-shadow: 5px 5px 30px green;
	
}

#colunasmenu2{
	float:left;
    height: 258px;
	width:100px;
	margin-left:6%;
	border-radius:20px;
	box-shadow: 2px 2px 20px rgb(50 50 50 / 77%);
}
#colunasadmin2{
	float:left;
    height: 258px;
	width:100px;
	
}
#teste{
	display:none; 
}
#teste:hover{
	display:block; 
}
.border-left-primary {
    border-left: .25rem solid #4e73df!important;
}







